{% from '_form_macro.html' import form_helper %}
{% extends "base.html" %}

{% block nav %}
  <a class="nav-link" href="/signup">Sign Up</a>
  <a class="nav-link" href="/signin">Sign In</a>
{% endblock nav %}  

{% block showcase %}
    <div class="container text-center  pt-5"> 
      <div class="h1">Sign In</div>      
      <div class="container-login bg-white">  
          <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">                
                  {{ form_helper(form.email)}}
                  {{ form_helper(form.password)}}
            </fieldset>
            {{form.recaptcha}}
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
    </div>  
 {% endblock showcase %}

